<!DOCTYPE html>
<html>
  <head>
    <title inertia><%= content_for(:title) || "SF Ruby 2025 CFP" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Open Graph / Social Media -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cfp.sfruby.com">
    <meta property="og:title" content="CFP for San Francisco Ruby Conference 2025">
    <meta property="og:description" content="Share your Ruby knowledge and experience at the San Francisco Ruby Conference on November 19-20, 2025. We're looking for talks to support and inspire the new generation of successful startups built on Ruby and Rails.">
    <meta property="og:image" content="https://sfruby.com/sfruby_og.jpg">
    <!-- Twitter --><meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://cfp.sfruby.com">
    <meta property="twitter:title" content="CFP for the San Francisco Ruby Conference 2025"><meta property="twitter:description" content="Share your Ruby knowledge and experience at the San Francisco Ruby Conference on November 19-20, 2025. We're looking for talks to support and inspire the new generation of successful startups built on Ruby and Rails."><meta property="twitter:image" content="https://sfruby.com/sfruby_og.jpg">

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= yield :head %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--Plausible analytics tag-->
    <script defer data-domain="sfruby.com" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
